# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# FastAPI / Python build
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
!dev.tfvars
!prod.tfvars

# Ansible
*.retry

# Docker
docker-compose.override.yml

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Secrets
.env
*.pem
*.key