[defaults]
inventory = /home/user1/project/infra/inventory/inventory.yml
remote_user = user1
private_key_file = /home/user1/.ssh/ansiblekey.pem
host_key_checking = False
remote_tmp = ~/.ansible/tmp
roles_path = /home/user1/project/infra/deployment/ansible/roles:/home/user1/project/infra/monitoring/ansible/roles:/home/user1/project/infra/backup/ansible/roles:/home/user1/project/infra/recovery/ansible/roles
interpreter_python = auto_silent
